# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Code\3_4_2021_Lab_ex_string\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
